.video_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .player__wrapper {
    position: relative;
  }
  
  .player {
    border: 2px solid #7b2cbf;
    object-fit: cover;
    padding: 0;
    margin: 0;
  }

  .control_Container {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
  }
  
  .mid__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon__btn {
    padding: 0 10px;
    color: #7b2cbf;
  }
  
  .slider__container {
    /* width: 100%; */
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  
  .control__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .inner__controls {
    display: flex;
    padding: 10px 0;
    align-items: center;
    width: 50%;
  }
  
 .inner__controls span {
    color: #fff;
    font-size: 0.8rem;
    margin-left: 10px;
  }
  
  .second__control {
    display: flex;
    align-items: center;
  }

  .loading{
    position: absolute;
    top: 12%;
    left: 44%;
  }