.main-bar {
  width: calc(100% - 300px - 24px);
  float: left;
  margin: 25px 0px;
  padding: 0;
}

.main-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-bar-header h1 {
  font-weight: 400;
}

.main-bar-header .ask-btn {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #7077A1 !important;
  color: white;
  border: none;
  text-decoration: none;
  transition: 0.3s;
}

.main-bar-header .ask-btn:hover {
  background-color: #d3e4eb !important;
  color: #7077A1 !important;
}

.display-question-container {
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #a7d5fb;
  border-bottom: solid 1px #a202ed;
  margin-bottom: 5px;
}

.display-question-container .display-votes-ans {
  padding: 10px;
}

.display-question-container .display-votes-ans p {
  margin: 0%;
  text-align: center;
}

.display-question-details {
  flex-grow: 1;
  padding: 10px;
  margin: 0%;
}

.question-title-link {
  text-decoration: none;
  color: #037ecb;
  transition: 0.3s;
}

.question-title-link:hover {
  color: #009dff;
}

.display-tags-time .display-tags {
  display: flex;
  flex-wrap: wrap;
}

.display-tags-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.display-tags-time .display-tags p {
  margin: 2px;
  padding: 4px;
  font-size: 13px;
  background-color: #edeff0;
  color: #39739d;
}
.display-tags-time .display-time {
  font-size: 13px;
}

@media screen and (max-width: 1020px) {
  .main-bar {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .display-question-container .display-votes-ans {
    padding: 10px;
  }
  .main-bar-header{
    margin-top: 20px;
  }
}

@media screen and (max-width: 360px) {
  .main-bar-header{
    margin-top: 20px;
  }
  .main-bar-header h1{
    font-size: 25px;
  }
}




.card-q {
  background-color: #F6B17A;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  overflow: hidden;
  transition: transform 0.2s;
  height: fit-content;
  color: white;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  background-color: #424769;
  color: white;
}

.card-votes-answers {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: center;
  padding-right: 20px;
  margin-top: 5px;
  /* border-right: 1px solid #e0e0e0; */
  margin-right: 8px;
}

.card-votes-answers .votes, .card-votes-answers .answers {
  text-align: center;
}

.card-votes-answers .count {
  font-size: 1.1em;
  margin: 0;
  color: #FFDA78;
}

.card-content {
  flex-grow: 1;
  color: #fff;
}

.upper{
  display: flex;
  justify-content: space-around;
}

.question-title {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  transition: color 0.3s;
}

.question-title:hover {
  color: #F6B17A;
  text-decoration: underline;
}

.card-tags-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:3px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background: #2D3250;
  color: #F6B17A;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 2px;
  font-size: 0.9em;
}

.time {
  font-size: 0.9em;
  color: #F6B17A;
}

@media screen and (max-width: 1020px) {
  .main-bar {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .card-body {
    flex-direction: column;
  }
  .card-votes-answers {
    flex-direction: row;
    justify-content: space-around;
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 360px) {
  .question-title-link {
    font-size: 1em;
  }
}


