.card{
    position: relative;
    width: 100%;
    min-height: 400px;
    background: #fff;
    box-shadow: 15px 15px 60px rgba(0, 0, 0, .15);
    /* padding: 20px; */
    border-radius: 10px;
}

.posts-box{
    margin-top: 10px;
}

.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6f5f5;
    padding: 10px;
}
.card .top .userDeatils{
    display: flex;
    align-items: center;
}
.card .top .userDeatils .profileImg{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
}
.cover{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.card .top .userDeatils h3{
    font-size: 18px;
    color: #4d4d4f;
    font-weight: 700;
    line-height: 1rem;
    cursor: pointer;
}
.card .top .userDeatils span{
    font-size: 0.75em;
}
.card .top .dot{
    transform: scale(0.6);
    cursor: pointer;
}
.imgBg{
    /* position: relative; */
    width: 100%;
    /* height: 320px; */
    margin: 10px 0 15px;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 4px;
}
.btns img{
    max-width: 24px;
    cursor: pointer;
}
.btns .left{
    display: flex;
    row-gap: 5px;
}
.btns .left img{
    margin-right: 8px;
}
.likes{
    margin-top: 5px;
    font-size: 1em;
    color: #4d4d4f;
}
.message{
    font-weight: 400;
    margin-top: 5px;
    color: #777;
    line-height: 1.5em;
    padding-left: 10px;
}
.message b{
    color: #262626;
}
.message span{
    color: #1d92ff;
    cursor: pointer;
}
.comments{
    margin-top: 10px;
    align-items: center;
    color: #999;
    padding-left: 10px;
}
.addComments{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
}
.addComments .userImg{
    position: relative;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}
.addComments .text{
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    color: #262626;
}
.addComments .text::placeholder{
    color: #777;
}
.postTime{
    margin-top: 10px;
    font-weight: 500;
    color: #777;
    padding-left: 10px;
}


.user-posted{
    text-transform: capitalize;
}

.p-10{
    padding: 10px;
}

.comm-form{
    display: flex;
    justify-content: space-between;
}
.comm-form button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-reset{
    background: none;
    outline: none;
    border: none;
}

.dot-div{
   /* position: relative; */


}

.dots{
    display: flex;
    flex-direction: column;
}